.header {
  background-image: url(/img/mobile/header-mobile-bg.png);
  background-color: #f80606;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 370px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 609px;
  border-radius: 4px;
  background: $primary-title-color;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
}

.open-menu {
  width: 56px;
  height: 39px;
}

.close-menu {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  border-color: #afb1b8;
  background: $primary-title-color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.top-panel {
}

.header-button {
}

.navigation {
}

.nav-list {
}

.nav-item {
}
.modal-open {
}

.header-title1 {
}

.header-title2 {
}

.backdrop {
}

.backdrop.is-hidden {
}

.no-scroll {
}

.modal {
}

.modal-title {
}

.modal-list {
}

.modal-item {
}

.modal-input {
}

.box-close-modal {
}

.close-modal {
}
